<h1>グループを編集</h1>

<%= form_with model: @group, url: group_path(@group), method: :patch do |f| %>
  <div>
    <%= f.label :name, "グループ名" %>
    <%= f.text_field :name %>
  </div>

  <%= f.label :description, "説明" %>
  <%= f.text_area :description, class: "form-control" %>

  <%= f.label :group_image, "グループ画像" %>
  <%= f.file_field :group_image, class: "form-control", onchange: "previewImage(event)" %>

  <% if @group.group_image.attached? %>
    <div class="mt-3">
      <p>現在の画像:</p>
      <%= image_tag @group.group_image.variant(resize_to_fill: [100, 100]), class: "group-image-preview" %>
    </div>
  <% end %> 

    <div>
    <%= f.label :privacy, "投稿の公開範囲" %>
    <%= f.select :privacy, Group.privacies.keys.map { |key| [I18n.t("enums.group.privacy.#{key}"), key] } %>
    </div>

    <div class="form-group">
      <label for="group_join_policy">参加ルール</label>
      <%= f.select :join_policy, 
        [["誰でも参加可能", "open"], ["オーナーの承認制", "invite_only"]], 
        {}, class: "form-control" %>
    </div>

  <%= f.submit "更新", class: "btn btn-primary mt-3" %>
<% end %>