<h1>新規グループ作成</h1>

<%= form_with model: @group, url: user_groups_path(current_user), local: true do |f| %>
  <div>
    <%= f.label :name, "グループ名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :group_image, "グループ画像" %>
    <%= f.file_field :group_image, class: "form-control", onchange: "previewImage(event)" %>
  </div>

  <div class="mt-3">
    <p>プレビュー:</p>
    <img id="image-preview" class="group-image-preview" style="max-width: 200px; display: none;">
  </div>

  <div>
    <%= f.label :privacy, "投稿の閲覧範囲" %>
    <%= f.select :privacy, [["全体公開", "public_visibility"], ["メンバーのみ", "restricted_visibility"]] %>
  </div>

  <div>
    <%= f.label :join_policy, "参加ルール" %>
    <%= f.select :join_policy, [["誰でも参加可能", "open"], ["承認制", "invite_only"]] %>
  </div>

  <div>
    <%= f.label :location, "グループの場所" %>
    <%= f.text_field :location, placeholder: "例: 東京" %>
  </div>

  <div>
    <%= f.label :description, "グループのルール" %>
    <%= f.text_area :description, rows: 5, placeholder: "ルールやグループの趣旨を書いてください" %>
  </div>

  <div>
    <%= f.submit "作成", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "グループ一覧へ戻る", user_groups_path(current_user), class: "btn btn-secondary mt-3" %>
<%= link_to "キャンセル", user_groups_path(current_user), class: "btn btn-light mt-3" %>