<%= form_for @post, url: public_post_path(@post), method: :patch do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, value: @post.title, class: "form-control" %>
  </div>
  <div>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>