<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <% @post.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <!-- 既存の投稿画像を表示 -->
  <% if @post.images.attached? %>
    <div class="post-images">
      <% @post.images.each do |image| %>
        <div class="existing-image">
          <%= image_tag image.variant(resize: "500x500"), class: "img-fluid mb-3" %>
          <%= check_box_tag "remove_image[]", image.id %> 画像を削除
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- 新しい画像のアップロードフォーム -->
  <div>
    <%= f.label :images, "画像を追加または変更" %>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </div>


  <%= f.submit "更新", class: "btn btn-primary" %>

  <%= link_to "戻る", request.referer || post_path(@post), class: "btn btn-secondary" %>

  <%= link_to "投稿一覧へ", posts_path, class: "btn btn-outline-primary" %>
<% end %>