<h1><%= @user.name %>さんのフォロワー一覧</h1>

<div id="followers-list">
  <% @users.each do |user| %>
    <li id="user-<%= user.id %>">
      <%= link_to user.name, user_path(user) %>
      <% if @user == current_user %> <!-- 自分のマイページなら解除ボタンを表示 -->
        <% connection = Connection.find_by(followed_id: @user.id, follower_id: user.id) %>
        <% if connection %>
          <%= button_to "フォロー解除", connection_path(connection), method: :delete, remote: true, class: "btn btn-danger" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</div>

<!-- マイページに戻るボタン -->
<%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-secondary mt-3" %>
<!-- ユーザー詳細に戻るボタン -->
<%= link_to "ユーザー詳細に戻る", user_path(@user), class: "btn btn-secondary mt-3" %>

