<%= link_to post_likes_path(post), 
            method: post.liked_by?(current_user) ? :delete : :post, 
            remote: true, 
            id: "like-btn-#{post.id}", 
            class: "like-button" do %>
  <span class="<%= post.likes.count > 0 ? 'text-success' : 'text-secondary' %>">
    <%= post.likes.count > 0 ? "ðŸ‘" : "â™¡" %> 
    <span id="like-count-<%= post.id %>"><%= post.likes.count %></span>
  </span>
<% end %>