<h1>グループ管理</h1>
<%= link_to "新規グループ作成", new_admin_group_path, class: "btn btn-success mb-3" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>説明</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, admin_group_path(group) %></td>
        <td><%= group.description %></td>
        <td>
          <%= link_to "編集", edit_admin_group_path(group), class: "btn btn-warning btn-sm" %>
          <%= link_to "削除", admin_group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>