<%= form_with model: @user, local: true, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>


  <!-- 既存のプロフィール画像を表示 -->
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image.variant(resize: "200x200"), class: "rounded-circle mb-3" %>
  <% end %>

  <div>
    <%= f.label :profile_image, "プロフィール画像を変更" %>
    <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
  </div>


  <div>
    <%= f.submit "更新する" %>
  </div>

<% end %>

