
<%= render partial: "public/users/profile", locals: { user: @user, show_actions: false } %>

<%= render partial: "public/posts/post_list", locals: { user: @user, show_create_button: false, show_edit_button: false } %>

<div class="actions mt-3">
  <%= link_to "ユーザー一覧へ戻る", users_path, class: "btn btn-outline-secondary" %>
  <%= link_to "所属グループを見る", user_groups_path(@user), class: "btn btn-outline-success mt-3" %>
  <%= link_to "このユーザーの投稿一覧", user_posts_path(@user), class: "btn btn-outline-info mt-3" %>
</div>

