<!DOCTYPE html>
<html>
<head>
  <title>管理者ページ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to "ダッシュボード", admin_root_path %></li>
    <li><%= link_to "ユーザー管理", admin_users_path %></li>
    <li><%= link_to "投稿管理", admin_posts_path %></li>
    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, data: { turbo: false, confirm: "ログアウトしますか？" } %></li>
  </ul>
</nav>

<%= yield %> <!-- ここにページのコンテンツが表示される -->
</body>
</html>