<!DOCTYPE html>
<html>
  <head>
    <title>WAI_to_WAI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100" style="background-color : #F0F0F0">

  <!--ヘッダー部分-->
  <%= render 'layouts/header' %>

  <!--メイン部分-->
  <main class="mb-auto">
    <p class='text-success'><%= flash[:notice] %></p>
    <p class='text-danger'><%= flash[:alert] %></p>

    <%= yield %>
  </main>

  <!--フッター部分-->
  <%= render "layouts/footer" %>

  </body>
</html>